


<div class="large-8 columns">
  	<div class="panel">
		<h1>Editing physician</h1>

				<%= render 'form' %>
        <ul class='inline-list text-center'>
          <li><%= link_to 'Show', @physician %> </li>
          <li><%= link_to 'Back', physicians_path %> </li>
        </ul>
		</div>

		<div class="large-4 columns">
		</div>
	</div>

